<%= form_with(model: [list, task], class: "space-y-4", id: "new_task_form") do |form| %>
  <div>
    <%= form_label form, :title %>
    <%= form.text_field :title, class: input_classes(task, :title) %>
    <%= input_error_message(task, :title) %>
  </div>

  <div>
    <%= form_label form, :description %>
    <%= form.text_area :description, rows: 3, class: input_classes(task, :description) %>
    <%= input_error_message(task, :description) %>
  </div>

  <div>
    <%= form_label form, :priority %>
    <%= form.select :priority, Task.priorities.keys.map { |k| [k.titleize, k] }, {}, class: input_classes(task, :priority) %>
    <%= input_error_message(task, :priority) %>
  </div>

  <div class="flex justify-end">
    <%= form_submit form, "Add Task" %>
  </div>
<% end %> 